
/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */

body {
	font-family: "Poppins";
}

.nav-link {
	color: #450084;
	background-color: white !important;
	margin: 20px;
	padding-top: 30px;
}

a {
	color: mediumpurple;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: purple;
	text-decoration: underline;
}

